/*Pagina Principal*/
*{
    margin: 0;
    padding: 0;

}
main{
    background-color: rgb(200, 200, 241);
    height: 36em;
    padding-top: 4em;
    font-family: 'Courier New', Courier, monospace;
}
.container-principal{
    
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.box-1{
    border-radius: 10px;
    height: 200px;
    width: 48.5%;
    margin: 8px;
    background-color: white;
}
.box-2{
    border-radius: 10px;
    height: 200px;
    width: 48.5%;
    margin: 8px;
    background-color: white;
}
.box-3{
    border-radius: 10px;
    height: 200px;
    width: 80%;
    margin: 8px auto;
    background-color: white;
}
#btn-nueva-venta{
    background-color: rgb(18, 240, 18);
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
    border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
}
.encabezado{
    background-color: cadetblue;
    text-align: center;
    height: 3em;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;

}
.encabezado>h1{
    font-size: 2em;
}
.encabezado-granBox{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.ventas-general{
    width: 100%;
    text-align: center;
    background-color: white;

}
.encabezado-granBox>h1{
    padding-left: 2em;
    height: 1.5em;
}
#abrir-editar{
   background-color: lightskyblue;
   border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
}
#borrar-venta{
    background-color: rgb(253, 130, 130);
    border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
}

/*Ventana Modal venta*/
.modal-container-ventas{
   
    width: 100%;
    position: fixed;
    border: solid;
    background-color: #000;
    background-color: rgb(0, 0, 0,0.8);
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    text-align: center;
}
.ventana-modal{
    width: 20%;
    height: 28em;
    border: solid;
    margin: 5em auto;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
.ventana-modal>h1{
    color: rgb(3, 1, 1);
    font-family: 'Courier New', Courier, monospace;
    background-color: #5F9EA0;
    padding-bottom: 1em;
}
.select-style{
    width: 100%;
    border-radius: 5px;
}
.titulo-modal{
    font-size: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 0.5em;
}
.date{
    width: 98%;
    text-align: center;
}

.hiden{
  display: none;
}
.block{
    display: block;
}
.cancelar-modal{
    background-color: rgb(255, 14, 14);
    border-radius: 8px;
    padding: 0.5em;
    cursor: pointer;
    margin-top: 2em;
    color: white;

}
.guardar-venta{
    background-color: rgb(1, 252, 14);
    border-radius: 8px;
    padding: 0.5em;
    cursor: pointer;
    margin-top: 2em;
    
}
/*Ventana Modal editar venta*/
.modal-container-editar{
    width: 100%;
    position: fixed;
    border: solid;
    background-color: #000;
    background-color: rgb(0, 0, 0,0.8);
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    text-align: center;
}
.modal-editar{
    width: 20%;
    height: 28em;
    border: solid;
    margin: 5em auto;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;

}